<template>
    <div>
        <div id="login-container">
            <div id="login-wrapper">
                <p id="login-title">Кадры</p>
                <div id="login-logo-wrapper"><img src="../../../wwwroot/img/icons/firefighter.png" id="login-logo" /></div>
                <div id="login-warning"></div>
                <form id="login-form" @keyup.enter="loginAction($event)">
                    <el-input v-model="login" class="login-input" placeholder="Логин" autofocus />
                    <el-input v-model="password" type="password" class="login-input" placeholder="Пароль" />
                    <el-button @click="loginAction($event)" class="login-button">Войти</el-button>
                </form>

            </div>
        </div>
    </div>
</template>
<script src="./login.ts"></script>