<template>
    <div id="topmenu" class="pm-component">
        <div id="topmenu-container">
            <div id="topmenu-logoblock">
                <img id="topmenu-logo" @click="reloadPage()" src="/img/icons/firefighter.png" />
                <div id="topmenu-appname" @click="reloadPage()">Кадры</div>
            </div>
            <div id="topmenu-featuredlist" v-if="!modepanelVisible()">
                <div class="topmenu-featured" v-for="featuredstruct in featured" @click="openFeatured($event, featuredstruct.id,featuredstruct.name)" v-if="structureModeAccess()">
                    <div class="topmenu-structurename">
                        {{featuredstruct.name}}
                    </div>
                </div>
                <div class="topmenu-featured" @click="modalStructureManagingPanelTopMenuVisible = true" v-if="addStructureAvailable">
                    + 
                </div>
            </div>
            <div id="topmenu-rightblock">
                <div class="topmenu-rightblock-text">
                    <div class="topmenu-rightblock-date">
                        <!--<span title="Нажмите, чтобы сменить режим работы" class="topmenu-rightblock-mode" @click="changeMode">{{modeName()}}</span>-->
                        <span v-if="getFullmodeselected()" title="Нажмите, чтобы сменить режим работы" class="topmenu-rightblock-mode" @click="changeFullmode()">Сменить режим работы</span>
                        <span class="topmenu-rightblock-date-date" @click="restoreCurrentDate" title="Нажмите, чтобы установить текущую дату"> {{beautifyDate(getdate())}}</span>
                    </div>
                    <div class="topmenu-rightblock-decreename" title="Нажмите, чтобы открыть меню проекта приказа" v-if="structureEdit() && structureMode() && value5" @click="selectCurrentDecree">{{getDecreeNameAlt()}}</div>
                    <div class="topmenu-rightblock-login">Вы вошли как {{login}}</div>

                    <div v-if="structureMode()" style="text-align: center;">
                        <el-switch @change="changeusereditorflag"
                                   v-model="value5"
                                   active-text="Редактирование"
                                   inactive-text="Чтение"
                                   inactive-color="#13ce66"
                                   active-color="#ff4949">
                        </el-switch>
                    </div>
                </div>

                <div v-if="!modepanelVisible()">
                    <el-button class="topmenu-rightblock-button" @click="modalPmrequestPanelVisible = true">Запрос</el-button>
                </div>



                <el-dropdown @command="topmenudropdown" :hide-timeout="500" :show-timeout="100">
                    <el-button class="topmenu-rightblock-button">Меню</el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item v-if="structureEdit() && structureMode() && value5" command="decrees">Проекты приказов{{getDecreeName()}}</el-dropdown-item>
                        <el-dropdown-item v-if="structureEdit() && structureMode()" command="decreesvisible">Подписанные приказы</el-dropdown-item>
                        <!--<el-dropdown-item v-if="personMode() && personnelRead()" command="eld">Электронное личное дело</el-dropdown-item>-->
                        <!--<el-dropdown-item v-if="personMode() && personnelRead()" command="candidates">Кандидаты</el-dropdown-item>-->
                        <el-dropdown-item v-if="isAdmin()" command="modalAdminVisible">Панель управления</el-dropdown-item>
                        <el-dropdown-item command="modalSettingsPanelVisible">Настройки</el-dropdown-item>
                        <el-dropdown-item command="modalAboutPanelVisible">О программе</el-dropdown-item>
                        <el-dropdown-item command="logout">Выйти</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>

                <el-dialog :visible.sync="adminVisible" width="80%" @close="onAdminPanelClose" v-draggable>
                    <admin-panel :visible.sync="adminVisible" :visiblevar.sync="modalAdminVisible" />
                </el-dialog>

            </div>
            <el-dialog :visible.sync="modalStructureManagingPanelTopMenuVisible" width="40%" v-draggable>
                <structuremanagingpanel :visible.sync="modalStructureManagingPanelTopMenuVisible" :parent="null" :type="'addnewstructure'" />
            </el-dialog>
            <el-dialog :visible.sync="modalSettingsPanelVisible" width="40%" v-draggable>
                <settingspanel :visible.sync="modalSettingsPanelVisible" />
            </el-dialog>
            <el-dialog :visible.sync="pmrequestManagingPanelVisible" width="55%" @close="onPmrequestPanelClose" v-draggable>
                <pmrequestpanel :visible.sync="pmrequestManagingPanelVisible" :visiblevar.sync="modalPmrequestPanelVisible" />
            </el-dialog>

            <el-dialog :visible.sync="modalDecreesMenuVisible" width="44%" v-draggable>
                <div class="decrees-create">
                    <el-input placeholder="Рабочее название приказа" v-model="decreeCreateName" ref="inputdecreecreate"></el-input>
                    <el-button @click="decreeCreate" type="primary" :disabled="decreesActionsDisabled" plain>
                        Создать приказ
                        <!--{{decreeButtonName}}-->
                    </el-button>
                </div>
                <template v-for="decreeElement in decreesList">
                    <div v-if="decreeSelected(decreeElement.id)" class="decrees-selected decrees-element">
                        {{decreeElement.nickname}}
                        <el-button @click="decreeSelect($event, decreeElement.id)">Предпросмотр проекта приказа</el-button>

                    </div>
                    <div class="decrees-element" v-else>
                        {{decreeElement.nickname}}
                        <el-button @click="decreeSelect($event, decreeElement.id)">Переключиться</el-button>
                    </div>
                </template>
                <el-button @click="decreeSelect($event, 0)" :disabled="decreeSelected(0)" type="info" plain>Отменить работу над приказами</el-button>
            </el-dialog>

            <el-dialog :visible.sync="modalDecreesSignedMenuVisible" width="44%" v-draggable>
                Список подписанных приказов
                <div>
                    <div>
                        Фильтр:
                    </div>
                    <div class="decreeoperation-row"><div class="decreeoperation-row-text">Дата приказа c :</div> <el-input suffix-icon="el-icon-date" v-model="decreeFilterDatesignedStart" type="date"></el-input></div>
                    <div class="decreeoperation-row"><div class="decreeoperation-row-text">Дата приказа по:</div> <el-input suffix-icon="el-icon-date" v-model="decreeFilterDatesignedEnd" type="date"></el-input></div>
                    <div class="decreeoperation-row"><div class="decreeoperation-row-text">Номер приказа:</div> <el-input v-model="decreeFilterNumber"></el-input></div>
                    <div class="decreeoperation-row"><div class="decreeoperation-row-text">Название приказа:</div> <el-input v-model="decreeFilterName"></el-input></div>
                    <div class="decreeoperation-row"><div class="decreeoperation-row-text">Начало действия приказа с:</div> <el-input suffix-icon="el-icon-date" v-model="decreeFilterDateactiveStart" type="date"></el-input></div>
                    <div class="decreeoperation-row"><div class="decreeoperation-row-text">Начало действия приказа по:</div> <el-input suffix-icon="el-icon-date" v-model="decreeFilterDateactiveEnd" type="date"></el-input></div>
                    <div class="decreeoperation-row"><div class="decreeoperation-row-text">Рабочее название приказа:</div> <el-input v-model="decreeFilterNickname"></el-input></div>
                    <div>
                        <el-button @click="filterSignedDecree()" >Поиск</el-button>
                    </div>
                    <div>
                        <div v-for="decreeElement in decreesSignedList.slice().reverse()" class="decreeoperation-signed-decree-block">
                            <div>
                                <label class="decreeoperation-signed-row-label">Название приказа</label> {{decreeElement.name}}
                            </div>
                            <div>
                                <label class="decreeoperation-signed-row-label">Номер приказа</label> {{decreeElement.number}}
                            </div>
                            <div>
                                <label class="decreeoperation-signed-row-label">Рабочее название приказа</label> {{decreeElement.nickname}}
                            </div>
                            <div>
                                <label class="decreeoperation-signed-row-label">Приказ подписан</label> {{beautifyDate(toDateInputValue(decreeElement.datesigned))}}
                            </div>
                            <div>
                                <label class="decreeoperation-signed-row-label">Начало действия приказа</label> {{beautifyDate(toDateInputValue(decreeElement.dateactive))}}
                            </div>
                            <div>
                                <el-button @click="selectSignedDecree($event, decreeElement.id)">Просмотр приказа</el-button>
                            </div>

                        </div>
                    </div>
                </div>
            </el-dialog>

            <el-dialog :visible.sync="modalDecreeMenuSignedVisible" width="44%" v-draggable>
                <div class="decreeoperation-nickname">{{decreeNickname}}</div>
                <div class="decreeoperation-row"><div class="decreeoperation-row-text">Дата приказа:</div> <el-input suffix-icon="el-icon-date" v-model="decreeDatesigned" @change="onDecreeDatesignedChange" type="date"></el-input></div>
                <div class="decreeoperation-row"><div class="decreeoperation-row-text">Номер приказа:</div> <el-input v-model="decreeNumber"></el-input></div>
                <div class="decreeoperation-row"><div class="decreeoperation-row-text">Название приказа:</div> <el-input v-model="decreeName"></el-input></div>
                <div class="decreeoperation-row"><div class="decreeoperation-row-text">Начало действия приказа:</div> <el-input suffix-icon="el-icon-date" v-model="decreeDateactive" type="date"></el-input></div>
                <div class="decreeoperation-row"><div class="decreeoperation-row-text">Рабочее название приказа:</div> <el-input v-model="decreeNickname"></el-input></div>

                <el-button @click="decreeUpdateSigned" class="decrees-margintop" type="success" round>Сохранить изменения</el-button>
                <el-button @click="decreehistoryPrint" style="background:#82848a;border-color:#82848a;color:#fff" round>Перечень Word</el-button>
                <el-button v-if="special_acces" @click="checkDecreeOperations" style="background: rgba(255, 201, 246, 0.46); border-color:#82848a; color: tan" round>Проверить повторы</el-button>
                <el-button v-if="special_acces" @click="unsigned_decree" style="background: rgba(255, 66, 0, 0.46); border-color:#82848a; color: black" round>Отменить</el-button>
                <el-alert :title="checkedDecreeResualt" type="info" :closable="true"></el-alert>
                <div class="decreeoperation-panel">
                    <div v-bind:class="{ [decreeOperationVisualRank(decreeOperation.visualRank)]: displayIt}" class="decreeoperation-element" v-for="decreeOperation in decreeSignedOperations">
                        <div>
                            <span class="decreeoperation-label-bold">Иерархия</span> — {{decreeOperation.tree}}
                        </div>
                        <div>
                            <span class="decreeoperation-label-bold">Тип</span> — {{decreeOperation.decreeConnectionTypeDescr}}
                        </div>
                        <div>
                            <span class="decreeoperation-label-bold">Название</span> — {{decreeOperation.decreeSubjectNameDescr}}
                        </div>
                        <div>
                            <span class="decreeoperation-label-bold">Действие</span> — {{decreeOperation.decreeActionDescr}}
                        </div>
                        <div v-if="isCustomDate(decreeOperation)">
                            <span class="decreeoperation-label-bold">Вступает в силу с </span> {{beautifyDate(toDateInputValue(decreeOperation.dateactive))}}
                        </div>
                        <!--<div v-if="hasNewName(decreeOperation)">
                <span class="decreeoperation-label-bold">Новое название </span> — {{decreeOperation.changedtext}}
            </div>-->


                    </div>
                </div>
                <el-button @click="decreehistoryPrint" style="background:#82848a;border-color:#82848a;color:#fff" round>Перечень Word</el-button>
            </el-dialog>


            <el-dialog :visible.sync="modalDecreeMenuVisible" width="44%" v-draggable>
                <div class="decreeoperation-nickname">{{decreeNickname}}</div>
                <div class="decreeoperation-row"><div class="decreeoperation-row-text">Дата приказа:</div> <el-input suffix-icon="el-icon-date" v-model="decreeDatesigned" @change="onDecreeDatesignedChange" type="date"></el-input></div>
                <div class="decreeoperation-row"><div class="decreeoperation-row-text">Номер приказа:</div> <el-input v-model="decreeNumber"></el-input></div>
                <div class="decreeoperation-row"><div class="decreeoperation-row-text">Название приказа:</div> <el-input v-model="decreeName"></el-input></div>
                <div class="decreeoperation-row"><div class="decreeoperation-row-text">Начало действия приказа:</div> <el-input suffix-icon="el-icon-date" v-model="decreeDateactive" type="date"></el-input></div>
                <div class="decreeoperation-row"><div class="decreeoperation-row-text">Рабочее название приказа:</div> <el-input v-model="decreeNickname"></el-input></div>

                <el-button @click="decreeUpdate" class="decrees-margintop" style="background:#5daf34; border-color:#5daf34; color:#fff" round>Сохранить изменения</el-button>
                <el-button @click="decreeAccept" style="background:#5daf34; border-color:#5daf34; color:#fff" round>Применить приказ</el-button>
                <el-button @click="decreePrint" style="background:#82848a;border-color:#82848a;color:#fff" round>Перечень Word</el-button>
                <el-button @click="decreeDeny" style="background:#dd6161;border-color:#dd6161;color:#fff" round>Отменить приказ</el-button>
                <div class="decreeoperation-panel">
                    <div v-bind:class="{ [decreeOperationVisualRank(decreeOperation.visualRank)]: displayIt}" class="decreeoperation-element" v-for="decreeOperation in decreeOperations">
                        <div>
                            <span class="decreeoperation-label-bold">Иерархия</span> — {{decreeOperation.tree}}
                        </div>
                        <div>
                            <span class="decreeoperation-label-bold">Тип</span> — {{decreeOperation.decreeConnectionTypeDescr}}
                        </div>
                        <div>
                            <span class="decreeoperation-label-bold">Название</span> — {{decreeOperation.decreeSubjectNameDescr}}
                        </div>
                        <div>
                            <span class="decreeoperation-label-bold">Действие</span> — {{decreeOperation.decreeActionDescr}}
                        </div>
                        <div v-if="isCustomDate(decreeOperation)">
                            <span class="decreeoperation-label-bold">Вступает в силу с </span> {{beautifyDate(toDateInputValue(decreeOperation.dateactive))}}
                        </div>
                        <!--<div v-if="hasNewName(decreeOperation)">
                <span class="decreeoperation-label-bold">Новое название </span> — {{decreeOperation.changedtext}}
            </div>-->

                        <el-button class="decreeoperation-button" @click="removeDecreeOperation($event, decreeOperation.id)" size="mini">Отменить</el-button>


                    </div>
                </div>
                <el-button @click="decreeAccept" style="background:#5daf34; border-color:#5daf34; color:#fff" round>Применить приказ</el-button>
                <el-button @click="decreePrint" style="background:#82848a;border-color:#82848a;color:#fff" round>Перечень Word</el-button>
                <el-button @click="decreeDeny" style="background:#dd6161;border-color:#dd6161;color:#fff" round>Отменить приказ</el-button>
            </el-dialog>

            <el-dialog :visible.sync="modalAboutPanelVisible" width="44%" v-draggable>
                <div>ПС "Кадры"</div>
                <div>Версия 0.4 от 08.04.2020</div>
                <div>Программное обеспечение разработано в МЧС РБ. Разработчик Антон Старостин.</div>
            </el-dialog>
        </div>
     </div>
</template>
<script src="./topmenu.ts"></script>
