<template>
    <div v-if="visible > 0" class="widget" style="overflow-y: scroll; max-height: 900px;">
        <div class="eld-top-block">
            <div class="eld-title">
                <div v-if="!new_excert_list">
                    Почта
                </div>
                <div v-else>
                    <!--<div v-if="excertsdecreestructureT == null || excertsdecreestructureT.length == 0">
                        Выписки из приказа отсутствуют
                    </div>-->
                    <div>
                        {{title_text_excert}}
                    </div>
                    <div style="text-align-last: right;">
                        <el-button @click="rowClicked(excertsdecree)" type="warning" plain>Перейти к приказу</el-button>
                    </div>
                </div>
            </div>
            <div class="eld-search-and-create" v-if="!new_excert_list">
                <div>
                    <el-button @click="createMenuToggle()" type="success" plain>Создать предложение</el-button>
                    <!--<el-dialog :visible.sync="decreecreator" width="50%" @close="close()" v-draggable>
                    <decreeoperationtemplatecreator :visible="decreecreator"></decreeoperationtemplatecreator>
                </el-dialog>-->
                </div>
            </div>
        </div>

        <div class="eld-eld">
            <!--Здесь боковая панель-->
            <div class="eld-eld-side-mail">
                <div class="eld-eld-side-element"></div>
                <div class="eld-eld-side-element-folder-union">
                    <div style="display: inline-flex; ">
                        <div style="text-align-last: center;">
                            <strong>Предложения</strong>
                            <!--<el-badge :value="decreeunopen.length" :max="10" class="item" />-->
                        </div>
                        <!--<div v-if="menuid == 3 & viewpersondecrees.length > 0" class="el-mail-number-decrees">({{viewpersondecrees.length}})</div>-->
                    </div>
                </div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 2}" class="eld-eld-side-element" style="background-color: lightgray; border-radius: 20px;" @click="set_menu_id(2)">
                    <div style="display: inline-flex; ">
                        <div style="text-align-last: center;">
                            Мои документы
                            <el-badge :value="0" :max="10" class="item" />
                        </div>
                        <div v-if="menuid == 2 & viewpersondecrees.length > 0" class="el-mail-number-decrees">({{viewpersondecrees.length}})</div>
                    </div>
                </div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 3}" class="eld-eld-side-element" style="background-color: lightgray; border-radius: 20px;" @click="set_menu_id(3)">
                    <div style="display: inline-flex; ">
                        <div style="text-align-last: center;">
                            Входящие
                            <el-badge :value="0" :max="10" class="item" />
                        </div>
                        <div v-if="menuid == 3 & viewpersondecrees.length > 0" class="el-mail-number-decrees">({{viewpersondecrees.length}})</div>
                    </div>
                </div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 4}" class="eld-eld-side-element" style="background-color: lightgray; border-radius: 20px;" @click="set_menu_id(4)">
                    <div style="display: inline-flex; ">
                        <div style="text-align-last: center;">
                            Исходящие
                            <el-badge :value="0" :max="10" class="item" />
                        </div>
                        <div v-if="menuid == 4 & viewpersondecrees.length > 0" class="el-mail-number-decrees">({{viewpersondecrees.length}})</div>
                    </div>
                </div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 5}" class="eld-eld-side-element" style="background-color: lightgray; border-radius: 20px;" @click="set_menu_id(5)">
                    <div style="display: inline-flex; ">
                        <div style="text-align-last: center;">
                            Отработанные
                            <el-badge :value="0" :max="10" class="item" />
                        </div>
                        <div v-if="menuid == 5 & viewpersondecrees.length > 0" class="el-mail-number-decrees">({{viewpersondecrees.length}})</div>
                    </div>
                </div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 6}" class="eld-eld-side-element" style="background-color: lightgray; border-radius: 20px;" @click="set_menu_id(6)">
                    <div style="display: inline-flex; ">
                        <div style="text-align-last: center;">
                            Архив
                            <el-badge :value="0" :max="10" class="item" />
                        </div>
                        <div v-if="menuid == 6 & viewpersondecrees.length > 0" class="el-mail-number-decrees">({{viewpersondecrees.length}})</div>
                    </div>
                </div>
                <div class="eld-eld-side-element"></div>
                <div class="eld-eld-side-element"></div>
                <div class="eld-eld-side-element-folder-union"><strong>Приказы</strong></div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 7}" class="eld-eld-side-element" style="background-color: darkgray; border-radius: 20px;" @click="set_menu_id(7)">
                    <div style="display: inline-flex; ">
                        <div style="text-align-last: center;">
                            В работе
                            <el-badge :value="0" :max="10" class="item" />
                        </div>
                        <div v-if="menuid == 7 & viewpersondecrees.length > 0" class="el-mail-number-decrees">({{viewpersondecrees.length}})</div>
                    </div>
                </div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 8}" class="eld-eld-side-element" style="background-color: darkgray; border-radius: 20px;" @click="set_menu_id(8)">
                    <div style="display: inline-flex; ">
                        <div style="text-align-last: center;">
                            Мои подписанные приказы
                            <el-badge :value="0" :max="10" class="item" />
                        </div>
                        <div v-if="menuid == 8 & viewpersondecrees.length > 0" class="el-mail-number-decrees">({{viewpersondecrees.length}})</div>
                    </div>
                </div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 9}" class="eld-eld-side-element" style="background-color: darkgray; border-radius: 20px;" @click="set_menu_id(9)">
                    <div style="display: inline-flex; ">
                        <div style="text-align-last: center;">
                            Все подписанные приказы
                            <el-badge :value="0" :max="10" class="item" />
                        </div>
                        <div v-if="menuid == 9 & viewpersondecrees.length > 0" class="el-mail-number-decrees">({{viewpersondecrees.length}})</div>
                    </div>
                </div>
                <div class="eld-eld-side-element"></div>
                <div class="eld-eld-side-element"></div>
                <div class="eld-eld-side-element-folder-union"><strong>Выписки</strong></div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 10}" class="eld-eld-side-element" style="background-color: lightgray; border-radius: 20px;" @click="set_menu_id(10)">
                    Министерство
                    <el-badge :value="1" :max="10" class="item" />
                </div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 11}" class="eld-eld-side-element" style="background-color: lightgray; border-radius: 20px;" @click="set_menu_id(11)">
                    УМЧС и другие
                    <el-badge :value="5" :max="10" class="item" />
                </div>
            </div>
            <div class="eld-eld-main-mail">
                <div v-if="!new_excert_list">
                    <!--Шапка главного меню style="display: inline-block;"-->
                    <div class="eld-eld-main-head">
                        <div style="display: flex; ">
                            <el-button class="eld-eld-main-head-partbutton" size="mini" @click="send" :disabled="menuid == 9 || menuid == 8">Направить</el-button>
                            <el-button class="eld-eld-main-head-partbutton" size="mini" @click="deleted" :disabled="menuid == 9 || menuid == 8">Удалить</el-button>
                            <!--<el-button class="eld-eld-main-head-partbutton" size="mini" @click="">Прочитано/Не прочитано</el-button>-->
                            <el-button class="eld-eld-main-head-partbutton" size="mini" @click="explorer" :disabled="menuid == 9 || menuid == 8 || menuid == 10">Переместить в папку</el-button>
                            <el-button class="eld-eld-main-head-partbutton" size="mini" @click="unit" :disabled="menuid == 9 || menuid == 8 || menuid == 8 || multipleSelection.length < 1">Объединить</el-button>
                            <el-button class="eld-eld-main-head-partbutton" size="mini" @click="sbdWorker">test</el-button>
                        </div>
                        <div style="text-align-last: right; margin-right: 11px;">
                            <!--<el-button style="background: #f0f9eb" size="mini">Подписан</el-button>-->
                            <el-badge :value="decreeunopen.length" :max="10" class="item">
                                <el-button style="background: #4251ff4d" size="mini" @click="viewUnopeneddecree">Не просмотрен</el-button>
                            </el-badge>
                        </div>
                    </div>
                    <div visible="update"></div>
                    <!--property="marked"  @selection-change="handleSelectionChange"   :filters="datefiltervariants" -->
                    <template>
                        <div v-if="viewpersondecrees.length">
                            <el-table ref="multipleTable" :data="viewpersondecrees" style="width: 99%; height: 700px" height="100%" border :row-class-name="tableRowClassName" @cell-click="qwerty" @selection-change="handleSelectionChange" @row-dblclick="rowClicked" @row-contextmenu="rowContextmenu">
                                <el-table-column type="selection" style="max-width: 55">
                                </el-table-column>
                                <el-table-column property="getDate" label="ДАТА" sortable width="110">
                                </el-table-column>
                                <!--:filter-method="filterHandler"-->
                                <el-table-column property="getNumber" label="№" sortable width="80">
                                </el-table-column>
                                <el-table-column property="getName" label="Название" width="450">
                                </el-table-column>
                                <el-table-column label="Выписки" width="90" v-if="menuid == 9 || menuid == 8">
                                    <template scope="item">
                                        <div style="text-align-last: center; font-size: x-large;">
                                            <i class="el-icon-view" size="mini"></i>
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column label="Архив" width="70" v-if="menuid == 9 || menuid == 8">
                                    <template scope="item">
                                        <div style="text-align-last: center; font-size: x-large;">
                                            <i class="el-icon-info" size="mini"></i>
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column property="getPlace" label="Подразделение" width="550">
                                </el-table-column>
                                <el-table-column property="getFIO" label="ФИО работника" width="200">
                                </el-table-column>
                                <el-table-column width="50">
                                    <template scope="item">
                                        <div style="text-align-last: center; font-size: x-large;">
                                            <i class="el-icon-view" size="mini"></i>
                                        </div>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                        <div v-else class="eld-title">
                            Папка пуста.
                        </div>
                    </template>
                </div>
                <div v-else>
                    <div class="eld-eld-main-head" style="display: inline-block;">
                        <div style="display: flex; ">
                            <el-button class="eld-eld-main-head-partbutton" size="mini" @click="send" :disabled="menuid == 9 || menuid == 8">Направить</el-button>
                            <el-button class="eld-eld-main-head-partbutton" size="mini" @click="deleted" :disabled="menuid == 9 || menuid == 8">Удалить</el-button>
                            <el-button class="eld-eld-main-head-partbutton" size="mini" @click="unit" :disabled="menuid == 9 || menuid == 8 || menuid == 8 || multipleSelection.length < 1">Объединить</el-button>
                            <!--<el-button class="eld-eld-main-head-partbutton" size="mini" @click="sbdWorker">test</el-button>-->
                        </div>
                        <div style="text-align-last: right;">
                            <!--<el-button style="background: #f0f9eb" size="mini">Подписан</el-button>-->
                            <!--<el-button style="background: #4251ff4d" size="mini" @click="viewUnopeneddecree">Не просмотрен</el-button> height="100%"-->
                        </div>
                    </div>
                    <div visible="update"></div>
                    <template>
                        <div v-if="excertsdecreestructureT.length && menuid > 50">
                            <el-table :data="excertsdecreestructureT" style="width: 99%; height: 700px" border :row-class-name="tableRowClassName" @row-dblclick="openexcert">
                                <el-table-column type="selection" style="max-width: 55">
                                </el-table-column>
                                <el-table-column property="structure.nameshortened" label="Получатель" width="250">
                                </el-table-column>
                                <!--:filter-method="filterHandler"-->
                                <el-table-column property="data_create" label="Дата создания" width="130">
                                </el-table-column>
                                <el-table-column property="data_opened" label="Дата первого просмотра" width="130">
                                </el-table-column>
                                <!--<el-table-column label="Выписки" width="90">
                                    <template scope="item">
                                        <div>
                                            <div style="text-align-last: center; font-size: x-large;">-->
                                                <!--<i class="el-icon-view" size="mini" v-popover:popover4></i>-->
                                                <!--<el-popover ref="popover4"
                                                            placement="right"
                                                            width="400"
                                                            trigger="click">
                                                    <el-button-group>
                                                        <el-button type="success">направить выписку</el-button>
                                                        <el-button type="warning">открыть доступ</el-button>
                                                    </el-button-group>

                                                    <div style="text-align-last: center;">
                                                        <el-select v-model="getusers"
                                                                   multiple
                                                                   filterable
                                                                   remote
                                                                   reserve-keyword
                                                                   placeholder="Please enter a keyword"
                                                                   :remote-method="remoteMethod"
                                                                   :loading="loading">
                                                            <el-option v-for="item in usersSearch"
                                                                       :key="item.surname"
                                                                       :label="item.surname"
                                                                       :value="item.surname">
                                                            </el-option>
                                                        </el-select>
                                                    </div>
                                                </el-popover>
                                                <el-button class="el-icon-message" size="mini" v-popover:popover4></el-button>
                                            </div>
                                        </div>
                                    </template>
                                </el-table-column>-->
                            </el-table>
                        </div>
                        <div v-else class="eld-title">
                            Папка пуста.
                        </div>
                    </template>
                        <!--<div v-for="struct in excertsdecreestructureT">
            <div style="margin-bottom: 4px; box-shadow: 5px 5px 3px rgba(0,0,0,0.6); padding: 10px; border-radius: 10px; background: #eeece0;" @click="openexcert(struct)">
                <small>
                    <el-button type="primary" icon="el-icon-view" size="mini" @click="openexcert(struct)" :loading="loading2"></el-button>
                    {{struct.structure.nameshortened}}-->
                        <!--<el-button size="mini" type="danger" icon="el-icon-delete" @click=""></el-button>-->
                        <!--</small>
                <div style="text-align-last: right;">
                    <el-button-group>
                        <el-button type="info" size="mini">Дата создания: {{struct.data_create}}</el-button>
                        <el-button type="info" size="mini">Дата просмотра: {{struct.data_opened}}</el-button>
                    </el-button-group>
                </div>
            </div>
        </div>-->
                </div>
            </div>
        </div>
        <el-dialog width="900px" :visible.sync="dialogVisibleSend" :title="title_text_f">
            <div style="margin-bottom: 10px">
                <h4>
                    Введите полностью или частично фамилию, логин или подразделение для поиска кадровика, которому будут направлены проекты приказов:
                </h4>
                <div v-for="decree in multipleSelection">
                    <div style="margin-bottom: 4px; box-shadow: 5px 5px 3px rgba(0,0,0,0.6); padding: 10px; border-radius: 10px; background: #eeece0;">
                        <small>
                            &#8658 {{decree.number}} {{decree.getName}} от {{decree.getDate}}; <el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteDecreeFromList(decree)"></el-button>
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <el-input placeholder="Поле поиска" class="eld-search-input" v-model="usersearch"></el-input>
                <el-button @click="searchUsers(usersearch)">Поиск</el-button>
            </div>
            <div v-if="hasUserSearchResults()" class="eld-search-main">
                <br />
                <div class="eld-search-main-title">
                    Результаты поиска
                </div>
                <div v-for="user in usersSearch" class="eld-search-element-user" @click="selectUser(user.id)">
                    <div>
                        {{user.surname}} {{user.firstname}} {{user.patronymic}}
                    </div>
                    <div>
                        {{user.positionString}}
                    </div>
                    <div>
                        {{user.structureTreeString}}
                        <div>
                            {{user.structureString}}
                        </div>

                    </div>
                    <div>
                        <el-button size="mini" type="success" @click="selectUser(user.id)">Направить</el-button>
                    </div>
                </div>
                <div class="eld-search-element-button">
                    <el-button type="warning" plain @click="closeUserSearch()">Закрыть</el-button>
                </div>

            </div>
        </el-dialog>

        <el-dialog width="900px" :visible.sync="dialogVisibleExplorer" :title="title_text_s">
            <div style="margin-bottom: 10px">
                Выберите папку для переноса следующих приказов:
                <div style="display: flex; margin-bottom: 4px">
                    <div v-for="folder in explorerFolder">
                        <div style="margin-right: 10px; margin-left: 10px">
                            <el-button size="mini" type="success" @click="FolderSelected(folder)">
                                {{folder}}
                            </el-button>
                        </div>
                    </div>
                </div>
                <div v-for="decree in multipleSelection">
                    <div style="margin-bottom: 4px; box-shadow: 5px 5px 3px rgba(0,0,0,0.6); padding: 10px; border-radius: 10px; background: #eeece0;">
                        <small>
                            &#8658 {{decree.number}} {{decree.getName}} от {{decree.getDate}}; <el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteDecreeFromList(decree)"></el-button>
                        </small>
                    </div>
                </div>
            </div>
        </el-dialog>

        <el-dialog width="900px" :visible.sync="dialogVisibleUnit" :title="title_text_t">
            <div v-if="unit_decree != null">
                <!--<div class="persondecreeoperation-row"><div class="persondecreeoperation-row-text">Название приказа:</div> <el-input v-model="unit_decree.name"></el-input></div>-->
                <div class="persondecreeoperation-row"><div class="persondecreeoperation-row-text" style="margin-top: 10px">Введите рабочее название объединённого приказа:</div> <el-input v-model="unit_decree.nickname"></el-input></div>
            </div>
            <div style="margin-bottom: 10px">
                <h5>Выбранные для объединения проекты приказов:</h5>
                <div v-for="decree in multipleSelection">
                    <div style="margin-bottom: 4px; box-shadow: 5px 5px 3px rgba(0,0,0,0.6); padding: 10px; border-radius: 10px; background: #eeece0;">
                        <small>
                            &#8658 {{decree.number}} {{decree.getName}} от {{decree.getDate}}; <el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteDecreeFromList(decree)"></el-button>
                        </small>
                    </div>
                </div>
                <div style="margin-top: 10px" v-if="multipleSelection.length > 1">
                    <el-button @click="persondecreesUnite" icon="el-icon-document" type="primary" round>Объединить</el-button>
                </div>
            </div>
            <div>
                <div v-if="unit_dialog">
                    <!--<div style="margin-top: 10px">
                    <el-button size="mini" @click="switch_k">Отобразить папки с приказами</el-button>
                </div>-->
                </div>
                <div v-else>
                    <div style="display: flex; margin-bottom: 10px">
                        <div v-for="folder in explorerFolder">
                            <div style="margin-right: 10px; margin-left: 10px">
                                <el-button size="mini" type="success" @click="FolderSelectedByUnit(folder)">
                                    {{folder}}
                                </el-button>
                            </div>
                        </div>
                    </div>
                    <div v-if="viewpersondecreesunit.length > 0">
                        <div v-for="decree in viewpersondecreesunit">
                            <small style="margin-bottom: 5px">
                                {{decree.number}} {{decree.getName}} от {{decree.getDate}}; <el-button size="mini" @click="addToUnitList(decree)">Добавить к объединению</el-button>
                            </small>
                        </div>
                    </div>
                    <div v-else class="eld-title">
                        Папка пуста.
                    </div>
                    <div style="margin-top: 10px" v-if="multipleSelection.length > 1">
                        <el-button @click="persondecreesUnite" icon="el-icon-document" type="primary" round>Объединить</el-button>
                    </div>
                </div>
            </div>
        </el-dialog>

        <el-dialog width="900px" :visible.sync="excertmenu" :title="title_text_excert" :before-close="excertClose"
                   v-loading="loading2"
                    element-loading-text="Загрузка..."
                    element-loading-spinner="el-icon-loading"
                    element-loading-background="rgba(0, 0, 0, 0.8)">
            <div style="margin-bottom: 10px">
                <div v-if="excertsdecree != null">
                    {{excertsdecree.getNumber}}
                    {{excertsdecree.number}}
                </div>
                <div v-else>
                    Выписки из приказа отсутствуют
                </div>
                <!--Выписки по приказам-->
                <div v-for="struct in excertsdecreestructureT">
                    <div style="margin-bottom: 4px; box-shadow: 5px 5px 3px rgba(0,0,0,0.6); padding: 10px; border-radius: 10px; background: #eeece0;">
                        <small>
                            <el-button type="primary" icon="el-icon-view" size="mini" @click="openexcert(struct)" :loading="loading2"></el-button>
                            &#8658 {{struct.structure.nameshortened}}<!--<el-button size="mini" type="danger" icon="el-icon-delete" @click=""></el-button>-->
                        </small>
                        <div style="text-align-last: right;">
                            <el-button-group>
                                <el-button type="info" size="mini">Дата создания: {{struct.data_create}}</el-button>
                                <el-button type="info" size="mini">Дата просмотра: {{struct.data_opened}}</el-button>
                            </el-button-group>
                        </div>
                    </div>
                </div>
            </div>
        </el-dialog>
    </div>
</template>
<script src="./derceeoperationelement.ts"></script>