<template>
    <div v-if="visible > 0" class="widget" style="overflow-y: scroll; max-height: 900px;">
        <div class="eld-top-block">
            <div class="eld-title">
                Почта
            </div>
            <div class="eld-search-and-create">
                <div>
                    <el-button @click="createMenuToggle()" type="success" plain>Создать предложение</el-button>
                    <!--<el-dialog :visible.sync="decreecreator" width="50%" @close="close()" v-draggable>
                    <decreeoperationtemplatecreator :visible="decreecreator"></decreeoperationtemplatecreator>
                </el-dialog>-->
                </div>
            </div>
        </div>

        <div class="eld-eld">
            <!--Здесь боковая панель-->
            <div class="eld-eld-side-mail">
                <div class="eld-eld-side-element" style="background-color: lightgray;"><strong>Предложения</strong></div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 2}" class="eld-eld-side-element" style="background-color: lightgray;" @click="set_menu_id(2)">Мои документы</div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 3}" class="eld-eld-side-element" style="background-color: lightgray;" @click="set_menu_id(3)">Входящие</div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 4}" class="eld-eld-side-element" style="background-color: lightgray;" @click="set_menu_id(4)">Исходящие</div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 5}" class="eld-eld-side-element" style="background-color: lightgray;" @click="set_menu_id(5)">Отработанные</div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 6}" class="eld-eld-side-element" style="background-color: lightgray;" @click="set_menu_id(6)">Архив</div>
                <div class="eld-eld-side-element"></div>
                <div class="eld-eld-side-element" style="background-color: darkgray;"><strong>Приказы</strong></div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 7}" class="eld-eld-side-element" style="background-color: darkgray;" @click="set_menu_id(7)">В работе</div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 8}" class="eld-eld-side-element" style="background-color: darkgray;" @click="set_menu_id(8)">Мои подписанные приказы</div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 9}" class="eld-eld-side-element" style="background-color: darkgray;" @click="set_menu_id(9)">Все подписанные приказы</div>
                <div v-bind:class="{'eld-eld-side-element-selected': menuid == 10}" class="eld-eld-side-element" style="background-color: darkgray;" @click="set_menu_id(10)">Выписки</div>
            </div>
            <div class="eld-eld-main">
                <!--Шапка главного меню-->
                <div class="eld-eld-main-head">
                    <div style="display: flex; ">
                        <el-button class="eld-eld-main-head-partbutton" size="mini" @click="send" :disabled="menuid == 9 || menuid == 8">Направить</el-button>
                        <el-button class="eld-eld-main-head-partbutton" size="mini" @click="deleted" :disabled="menuid == 9 || menuid == 8">Удалить</el-button>
                        <!--<el-button class="eld-eld-main-head-partbutton" size="mini" @click="">Прочитано/Не прочитано</el-button>-->
                        <el-button class="eld-eld-main-head-partbutton" size="mini" @click="explorer" :disabled="menuid == 9 || menuid == 8 || menuid == 10">Переместить в папку</el-button>
                        <el-button class="eld-eld-main-head-partbutton" size="mini" @click="unit" :disabled="menuid == 9 || menuid == 8 || menuid == 8 || multipleSelection.length < 2">Объединить</el-button>
                        <el-button class="eld-eld-main-head-partbutton" size="mini" @click="sbdWorker">test</el-button>
                    </div>
                </div>
                <div visible="update"></div>
                <!--property="marked"  @selection-change="handleSelectionChange"   :filters="datefiltervariants"  -->
                <template>
                    <div v-if="viewpersondecrees.length > 0">
                        <el-table ref="multipleTable" :data="viewpersondecrees" style="width: 99%; height: 700px" height="100%" border :row-class-name="tableRowClassName" @selection-change="handleSelectionChange" @row-dblclick="rowClicked" @row-contextmenu="rowContextmenu">
                            <el-table-column type="selection" width="55">
                            </el-table-column>
                            <el-table-column property="getDate" label="ДАТА" sortable width="110" :filter-method="filterHandler">
                            </el-table-column>
                            <el-table-column property="getNumber" label="№" sortable width="80">
                            </el-table-column>
                            <el-table-column property="getName" label="Название" width="450">
                            </el-table-column>
                            <el-table-column property="getPlace" label="Подразделение" width="550">
                            </el-table-column>
                            <el-table-column property="getFIO" label="ФИО работника" width="200">
                            </el-table-column>
                            <el-table-column type="expand" label="Выписки" width="90">
                                <template slot-scope="props">
                                    <div> <!--v-if="props.row.signed == 1"-->
                                        <div v-for="i in rand_list">
                                            <div style="margin-bottom: 4px">
                                                <small>
                                                    &#8658 {{i.nameshortened}} <el-button size="mini" type="danger" icon="el-icon-delete" @click="delrand(i)"></el-button>
                                                </small>
                                            </div>
                                        </div>
                                        <el-button type="default" @click="random">Отобразить список получателей</el-button>
                                        <el-button type="default" @click="handleSaveRow(scope.$index)">сформировать выписки</el-button>
                                        <el-button type="default" @click="handleSaveRow(scope.$index)">отправить выписки</el-button>
                                    </div>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                    <div v-else class="eld-title">
                        Папка пуста.
                    </div>
                </template>

            </div>
        </div>
        <el-dialog width="900px" :visible.sync="dialogVisibleSend" :title="title_text_f">
            <div style="margin-bottom: 10px">
                <h4>
                    Введите полностью или частично фамилию, логин или подразделение для поиска кадровика, которому будут направлены проекты приказов:
                </h4>
                <div v-for="decree in multipleSelection">
                    <div style="margin-bottom: 4px">
                        <small>
                            &#8658 {{decree.number}} {{decree.getName}} от {{decree.getDate}}; <el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteDecreeFromList(decree)"></el-button>
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <el-input placeholder="Поле поиска" class="eld-search-input" v-model="usersearch"></el-input>
                <el-button @click="searchUsers(usersearch)">Поиск</el-button>
            </div>
            <div v-if="hasUserSearchResults()" class="eld-search-main">
                <br />
                <div class="eld-search-main-title">
                    Результаты поиска
                </div>
                <div v-for="user in usersSearch" class="eld-search-element-user" @click="selectUser(user.id)">
                    <div>
                        {{user.surname}} {{user.firstname}} {{user.patronymic}}
                    </div>
                    <div>
                        {{user.positionString}}
                    </div>
                    <div>
                        {{user.structureTreeString}}
                        <div>
                            {{user.structureString}}
                        </div>

                    </div>
                    <div>
                        <el-button size="mini" type="success" @click="selectUser(user.id)">Направить</el-button>
                    </div>
                </div>
                <div class="eld-search-element-button">
                    <el-button type="warning" plain @click="closeUserSearch()">Закрыть</el-button>
                </div>

            </div>
        </el-dialog>

        <el-dialog width="900px" :visible.sync="dialogVisibleExplorer" :title="title_text_s">
            <div style="margin-bottom: 10px">
                Выберите папку для переноса следующих приказов:
                <div style="display: flex; margin-bottom: 4px">
                    <div v-for="folder in explorerFolder">
                        <div style="margin-right: 10px; margin-left: 10px">
                            <el-button size="mini" type="success" @click="FolderSelected(folder)">
                                {{folder}}
                            </el-button>
                        </div>
                    </div>
                </div>
                <div v-for="decree in multipleSelection">
                    <div style="margin-bottom: 4px">
                        <small>
                            &#8658 {{decree.number}} {{decree.getName}} от {{decree.getDate}}; <el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteDecreeFromList(decree)"></el-button>
                        </small>
                    </div>
                </div>
            </div>
        </el-dialog>

        <el-dialog width="900px" :visible.sync="dialogVisibleUnit" :title="title_text_t">
            <div v-if="unit_decree != null">
                <!--<div class="persondecreeoperation-row"><div class="persondecreeoperation-row-text">Название приказа:</div> <el-input v-model="unit_decree.name"></el-input></div>-->
                <div class="persondecreeoperation-row"><div class="persondecreeoperation-row-text" style="margin-top: 10px">Введите рабочее название объединённого приказа:</div> <el-input v-model="unit_decree.nickname"></el-input></div>
            </div>
            <div style="margin-bottom: 10px">
                <h5>Выбранные для объединения проекты приказов:</h5>
                <div v-for="decree in multipleSelection">
                    <div style="margin-bottom: 4px; box-shadow: 5px 5px 3px rgba(0,0,0,0.6); padding: 10px; border-radius: 10px; background: #eeece0;">
                        <small>
                            &#8658 {{decree.number}} {{decree.getName}} от {{decree.getDate}}; <el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteDecreeFromList(decree)"></el-button>
                        </small>
                    </div>
                </div>
                <div style="margin-top: 10px" v-if="multipleSelection.length > 1">
                    <el-button @click="persondecreesUnite" icon="el-icon-document" type="primary" round>Объединить</el-button>
                </div>
            </div>
            <div>
                <div v-if="unit_dialog">
                    <!--<div style="margin-top: 10px">
                        <el-button size="mini" @click="switch_k">Отобразить папки с приказами</el-button>
                    </div>-->
                </div>
                <div v-else>
                    <div style="display: flex; margin-bottom: 10px">
                        <div v-for="folder in explorerFolder">
                            <div style="margin-right: 10px; margin-left: 10px">
                                <el-button size="mini" type="success" @click="FolderSelectedByUnit(folder)">
                                    {{folder}}
                                </el-button>
                            </div>
                        </div>
                    </div>
                    <div v-if="viewpersondecreesunit.length > 0">
                        <div v-for="decree in viewpersondecreesunit">
                            <small style="margin-bottom: 5px">
                                {{decree.number}} {{decree.getName}} от {{decree.getDate}}; <el-button size="mini" @click="addToUnitList(decree)">Добавить к объединению</el-button>
                            </small>
                        </div>
                    </div>
                    <div v-else class="eld-title">
                        Папка пуста.
                    </div>
                    <div style="margin-top: 10px" v-if="multipleSelection.length > 1">
                        <el-button @click="persondecreesUnite" icon="el-icon-document" type="primary" round>Объединить</el-button>
                    </div>
                </div>
            </div>
        </el-dialog>
    </div>
</template>
<script src="./derceeoperationelement.ts"></script>