<template>
    <!--<div v-if="visible > 0" class="widget" style="overflow-y: scroll; max-height: 900px;">-->
    <div v-if="visible > 0" class="widget" style="overflow-y: scroll; max-height: 900px;">
        <div class="widget-title">
            Выберите режим работы
        </div>
        <div class="modepanel-container ">
            <div class="modepanel-element modepanel-element-org" @click="org" v-if="structureModeAccess">
                Организационно-штатная работа
            </div>
            <div v-else><i>Загрузка...</i></div>
        </div>
    </div>
</template>
<script src="./modepanel.ts"></script>